@font-face {
    font-family: 'Minion-Pro';
    src:         url('../fonts/MinionPro-Regular.otf');
}

@font-face {
    font-family: 'Myriad-Pro';
    src:         url('../fonts/MyriadPro-Regular.otf');
}

@font-face {
    font-family: 'Bebas Neue Regular';
    src:         url('../fonts/BebasNeueRegularTrueType.ttf');
}
