@import "mixins";

.footer {
    .font-styles(18px, 22px, 700);
    background-color: #0f0f0d;
    padding:          18px 0;
    color:            #808080;
}

.footer-author {
    &__title {
        color: #e3e3d1;
    }
    &__link{
        color: #808080;
        text-decoration: none;
    }
}

.social-list {
    display: flex;
    &__item {
        background-repeat:   no-repeat;
        background-position: center;
        margin:              0 9px;
        border-radius:       50%;
        -webkit-transition: all 1s ease-out;
        -moz-transition:    all 1s ease-out;
        -o-transition:      all 1s ease-out;
        transition:         all 1s ease-out;

        &-link {
            display: flex;
            padding: 20px;

        }

        &--fb {
            background-image: url("../icons/fb.svg");
            border:           2px solid #547bbd;
            &-gray{
                background-image: url("../icons/fb--gray.svg");
            }
            &:hover{
                background-color: #547bbd;
            }
        }

        &--vk {
            background-image: url("../icons/vk.svg");
            border:           2px solid #3f63a9;
            &-gray{
                background-image: url("../icons/vk--gray.svg");
            }
            &:hover {
                background-color: #3f63a9;
            }

        }

        &--tw {
            background-image: url("../icons/tw.svg");
            border:           2px solid #49b5e5;
            &-gray{
                background-image: url("../icons/tw--gray.svg");
            }
            &:hover {
                background-color: #49b5e5;
            }
        }

        &--inst {
            background-image: url("../icons/inst.svg");
            border:           2px solid #ff00d2;
            &-gray{
                background-image: url("../icons/inst--gray.svg");
            }
            &:hover{
                background-color: #ff00d2;
            }
        }

        &--ok {
            background-image: url("../icons/ok.svg");
            border:           2px solid #ee8208;
            &-gray{
                background-image: url("../icons/ok--gray.svg");
            }
            &:hover{
                background-color: #ee8208;
            }
        }

    }
}


