@import "mixins";

.container {
    min-width:       980px;
    max-width:       1180px;
    margin:          0 auto;
    display:         flex;
    flex-flow:       row wrap;
    justify-content: space-between;
    align-items:     center;

    @media only screen and (max-width: 1200px) {
        padding: 0 4%;
    }
}

body {
    .font-family-bebas();
}

.page-wrapper {
    min-height:     100vh;
    display: -ms-flexbox;
    display:        flex;
    -ms-flex-direction: column;
    flex-direction: column;


}

.page-content {
    background-image:    url("../images/bg-old-paper.png");
    background-repeat:   no-repeat;
    background-position: center;
    background-size:     cover;
    padding:             40px 0;
    flex:                1;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        min-height: 100vh;
        flex: auto;
    }
}

.control {
    &::-webkit-input-placeholder {
        .font-styles(20px, normal, 400);
        .font-family-minion();
        color:       #8c959e;
        font-style:  italic;
    }

    &::-moz-placeholder {
        .font-styles(20px, normal, 400);
        .font-family-minion();
        color:       #8c959e;
        font-style:  italic;
    }

    &:-ms-input-placeholder {
        .font-styles(20px, normal, 400);
        .font-family-minion();
        color:       #8c959e;
        font-style:  italic;
    }

    &:-moz-placeholder {
        .font-styles(20px, normal, 400);
        .font-family-minion();
        color:       #8c959e;
        font-style:  italic;
    }
}
