@import "mixins";

.container {
    min-width:       980px;
    max-width:       1180px;
    margin:          0 auto;
    display:         flex;
    flex-flow:       row wrap;
    justify-content: space-between;
    align-items:     center;

    @media only screen and (max-width: 1200px) {
        padding: 0 4%;
    }
}

html {
    min-width: 980px;
    font-size: 100%;
}

body {
    .font-family-bebas();
    font-size: 1.4rem;
}

.page-wrapper {
    min-height:     100vh;
    display:        flex;
    flex-direction: column;
    overflow:       hidden;
}

.page-content {
    background-image:  url("../images/training/bg-old-paper.png");
    background-repeat: no-repeat;
    background-size:   cover;
    padding:           40px 0 0;
    flex:              1;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        min-height: 100vh;
        flex:       auto;
    }
    &--main {
        background-color: rgba(206, 206, 188, 0.81);
        background-image: url(../images/main/bg-old-main-clear.png);
        box-shadow:       inset 0px 0px 90px rgba(0, 0, 0, 0.90);
    }
}

.control {
    &::-webkit-input-placeholder {
        .font-styles(20px, normal, 400);
        .font-family-minion();
        color:      #8c959e;
        font-style: italic;
    }

    &::-moz-placeholder {
        .font-styles(20px, normal, 400);
        .font-family-minion();
        color:      #8c959e;
        font-style: italic;
    }

    &:-ms-input-placeholder {
        .font-styles(20px, normal, 400);
        .font-family-minion();
        color:      #8c959e;
        font-style: italic;
    }

    &:-moz-placeholder {
        .font-styles(20px, normal, 400);
        .font-family-minion();
        color:      #8c959e;
        font-style: italic;
    }
}

@media (min-width: 1910px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 1910px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 1780px) {
    html {
        font-size: 13px;
    }
}

@media (max-width: 1580px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 1280px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 9px;
    }
}
